/* mixin */
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* fonts */
/* FontAwesome */
.grid-max, .grid-20, .grid-40, .grid-60, .grid-80, .grid-100, .grid-120, .grid-140, .grid-160, .grid-180, .grid-200, .grid-220, .grid-240, .grid-260, .grid-280, .grid-300, .grid-320, .grid-340, .grid-360, .grid-380, .grid-400, .grid-420, .grid-440, .grid-460, .grid-480, .grid-500, .grid-520, .grid-540, .grid-560, .grid-580, .grid-600 {
  position: relative;
  display: block;
  float: left;
  z-index: 10;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-max {
  width: 100%;
  z-index: 5;
}

.grid-inner {
  min-height: 100px;
  margin-right: 5px;
}

.grid-20 {
  width: 20px;
}

.grid-pm-left-20 {
  margin-left: -20px;
  padding-left: 20px;
}

.grid-pm-right-20 {
  margin-right: -20px;
  padding-right: 20px;
}

.grid-40 {
  width: 40px;
}

.grid-pm-left-40 {
  margin-left: -40px;
  padding-left: 40px;
}

.grid-pm-right-40 {
  margin-right: -40px;
  padding-right: 40px;
}

.grid-60 {
  width: 60px;
}

.grid-pm-left-60 {
  margin-left: -60px;
  padding-left: 60px;
}

.grid-pm-right-60 {
  margin-right: -60px;
  padding-right: 60px;
}

.grid-80 {
  width: 80px;
}

.grid-pm-left-80 {
  margin-left: -80px;
  padding-left: 80px;
}

.grid-pm-right-80 {
  margin-right: -80px;
  padding-right: 80px;
}

.grid-100 {
  width: 100px;
}

.grid-pm-left-100 {
  margin-left: -100px;
  padding-left: 100px;
}

.grid-pm-right-100 {
  margin-right: -100px;
  padding-right: 100px;
}

.grid-120 {
  width: 120px;
}

.grid-pm-left-120 {
  margin-left: -120px;
  padding-left: 120px;
}

.grid-pm-right-120 {
  margin-right: -120px;
  padding-right: 120px;
}

.grid-140 {
  width: 140px;
}

.grid-pm-left-140 {
  margin-left: -140px;
  padding-left: 140px;
}

.grid-pm-right-140 {
  margin-right: -140px;
  padding-right: 140px;
}

.grid-160 {
  width: 160px;
}

.grid-pm-left-160 {
  margin-left: -160px;
  padding-left: 160px;
}

.grid-pm-right-160 {
  margin-right: -160px;
  padding-right: 160px;
}

.grid-180 {
  width: 180px;
}

.grid-pm-left-180 {
  margin-left: -180px;
  padding-left: 180px;
}

.grid-pm-right-180 {
  margin-right: -180px;
  padding-right: 180px;
}

.grid-200 {
  width: 200px;
}

.grid-pm-left-200 {
  margin-left: -200px;
  padding-left: 200px;
}

.grid-pm-right-200 {
  margin-right: -200px;
  padding-right: 200px;
}

.grid-220 {
  width: 220px;
}

.grid-pm-left-220 {
  margin-left: -220px;
  padding-left: 220px;
}

.grid-pm-right-220 {
  margin-right: -220px;
  padding-right: 220px;
}

.grid-240 {
  width: 240px;
}

.grid-pm-left-240 {
  margin-left: -240px;
  padding-left: 240px;
}

.grid-pm-right-240 {
  margin-right: -240px;
  padding-right: 240px;
}

.grid-260 {
  width: 260px;
}

.grid-pm-left-260 {
  margin-left: -260px;
  padding-left: 260px;
}

.grid-pm-right-260 {
  margin-right: -260px;
  padding-right: 260px;
}

.grid-280 {
  width: 280px;
}

.grid-pm-left-280 {
  margin-left: -280px;
  padding-left: 280px;
}

.grid-pm-right-280 {
  margin-right: -280px;
  padding-right: 280px;
}

.grid-300 {
  width: 300px;
}

.grid-pm-left-300 {
  margin-left: -300px;
  padding-left: 300px;
}

.grid-pm-right-300 {
  margin-right: -300px;
  padding-right: 300px;
}

.grid-320 {
  width: 320px;
}

.grid-pm-left-320 {
  margin-left: -320px;
  padding-left: 320px;
}

.grid-pm-right-320 {
  margin-right: -320px;
  padding-right: 320px;
}

.grid-340 {
  width: 340px;
}

.grid-pm-left-340 {
  margin-left: -340px;
  padding-left: 340px;
}

.grid-pm-right-340 {
  margin-right: -340px;
  padding-right: 340px;
}

.grid-360 {
  width: 360px;
}

.grid-pm-left-360 {
  margin-left: -360px;
  padding-left: 360px;
}

.grid-pm-right-360 {
  margin-right: -360px;
  padding-right: 360px;
}

.grid-380 {
  width: 380px;
}

.grid-pm-left-380 {
  margin-left: -380px;
  padding-left: 380px;
}

.grid-pm-right-380 {
  margin-right: -380px;
  padding-right: 380px;
}

.grid-400 {
  width: 400px;
}

.grid-pm-left-400 {
  margin-left: -400px;
  padding-left: 400px;
}

.grid-pm-right-400 {
  margin-right: -400px;
  padding-right: 400px;
}

.grid-420 {
  width: 420px;
}

.grid-pm-left-420 {
  margin-left: -420px;
  padding-left: 420px;
}

.grid-pm-right-420 {
  margin-right: -420px;
  padding-right: 420px;
}

.grid-440 {
  width: 440px;
}

.grid-pm-left-440 {
  margin-left: -440px;
  padding-left: 440px;
}

.grid-pm-right-440 {
  margin-right: -440px;
  padding-right: 440px;
}

.grid-460 {
  width: 460px;
}

.grid-pm-left-460 {
  margin-left: -460px;
  padding-left: 460px;
}

.grid-pm-right-460 {
  margin-right: -460px;
  padding-right: 460px;
}

.grid-480 {
  width: 480px;
}

.grid-pm-left-480 {
  margin-left: -480px;
  padding-left: 480px;
}

.grid-pm-right-480 {
  margin-right: -480px;
  padding-right: 480px;
}

.grid-500 {
  width: 500px;
}

.grid-pm-left-500 {
  margin-left: -500px;
  padding-left: 500px;
}

.grid-pm-right-500 {
  margin-right: -500px;
  padding-right: 500px;
}

.grid-520 {
  width: 520px;
}

.grid-pm-left-520 {
  margin-left: -520px;
  padding-left: 520px;
}

.grid-pm-right-520 {
  margin-right: -520px;
  padding-right: 520px;
}

.grid-540 {
  width: 540px;
}

.grid-pm-left-540 {
  margin-left: -540px;
  padding-left: 540px;
}

.grid-pm-right-540 {
  margin-right: -540px;
  padding-right: 540px;
}

.grid-560 {
  width: 560px;
}

.grid-pm-left-560 {
  margin-left: -560px;
  padding-left: 560px;
}

.grid-pm-right-560 {
  margin-right: -560px;
  padding-right: 560px;
}

.grid-580 {
  width: 580px;
}

.grid-pm-left-580 {
  margin-left: -580px;
  padding-left: 580px;
}

.grid-pm-right-580 {
  margin-right: -580px;
  padding-right: 580px;
}

.grid-600 {
  width: 600px;
}

.grid-pm-left-600 {
  margin-left: -600px;
  padding-left: 600px;
}

.grid-pm-right-600 {
  margin-right: -600px;
  padding-right: 600px;
}

body {
  font-family: Verdana, sans-serif;
  min-width: 1200px;
}

.clear {
  *zoom: 1;
}
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.npr {
  padding-right: 0;
}

.npl {
  padding-left: 0;
}

.npt {
  padding-top: 0;
}

.npb {
  padding-bottom: 0;
}

.nmr {
  margin-right: 0;
}

.nml {
  margin-left: 0;
}

.nmt {
  margin-top: 0;
}

.nmb {
  margin-bottom: 0;
}

html, body {
  min-height: 100%;
  height: 100%;
}

.window {
  min-height: 100%;
  padding-bottom: 150px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer {
  height: 150px;
  margin-top: -150px;
}

.widget .widget-title {
  background: #19232d;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
}

.widget-filter {
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.widget-filter .filter-grid {
  float: left;
  display: block;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-filter .disabled-filter-ajax {
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.widget-filter .disabled-filter-ajax:before {
  position: absolute;
  background: url("../../images/preloader.gif") no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 32px;
  height: 32px;
  content: "";
}
.widget-filter fieldset {
  position: relative;
  z-index: 5;
  padding: 10px;
  border-bottom: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
}
.widget-filter fieldset:last-child, .widget-filter fieldset.last {
  border-bottom: 0;
}
.widget-filter fieldset h4 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.widget-filter fieldset.type-from-to .input-item {
  position: relative;
  margin-top: 10px;
  text-align: justify;
  font-size: 0;
}
.widget-filter fieldset.type-from-to .input-item:first-child, .widget-filter fieldset.type-from-to .input-item.first {
  margin-top: 0;
}
.widget-filter fieldset.type-from-to .input-item:after {
  display: inline-block;
  width: 100%;
  content: "";
}
.widget-filter fieldset.type-from-to .input-item label {
  font-size: 12px;
  display: inline-block;
  width: 45%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-filter fieldset.type-from-to .input-item label span {
  display: block;
  margin-bottom: 2px;
}
.widget-filter fieldset.type-from-to .input-item label input {
  display: block;
  width: 100%;
  border: 1px solid #b3b3b3;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-filter fieldset.type-select .select-group {
  margin-top: 10px;
}
.widget-filter fieldset.type-select .select-group:first-child, .widget-filter fieldset.type-select .select-group.first {
  margin-top: 0;
}
.widget-filter fieldset.type-select .select-group select {
  border: 1px solid #b3b3b3;
  width: 100%;
  margin-bottom: 5px;
}
.widget-filter fieldset.type-select .select-group select:last-child, .widget-filter fieldset.type-select .select-group select.last {
  margin-bottom: 0;
}
.widget-filter fieldset.type-checkbox ul {
  font-size: 12px;
}
.widget-filter fieldset.type-checkbox ul li {
  margin-bottom: 3px;
}
.widget-filter fieldset.type-checkbox ul li:last-child, .widget-filter fieldset.type-checkbox ul li.last {
  margin-bottom: 0;
}
.widget-filter fieldset.type-checkbox ul li label {
  display: inline-block;
}
.widget-filter fieldset.type-checkbox ul li label input {
  display: none;
}
.widget-filter fieldset.type-checkbox ul li label input:checked + i:before {
  display: block;
}
.widget-filter fieldset.type-checkbox ul li label i, .widget-filter fieldset.type-checkbox ul li label span {
  display: inline-block;
  height: 20px;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.widget-filter fieldset.type-checkbox ul li label i {
  position: relative;
  width: 20px;
  border: 1px solid #b3b3b3;
}
.widget-filter fieldset.type-checkbox ul li label i:before {
  display: none;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  font-family: "FontAwesome", sans-serif;
  content: "\f00c";
}
.widget-filter fieldset.type-checkbox ul li label span.name {
  border: 1px solid transparent;
  line-height: 20px;
}


