/* fieldset */
.fieldset {
    margin-top: 10px;

    .fieldset-title {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 5px;
    }

    .fieldset-list {

        li {
            display: block;
            margin-top: 5px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &:first-child { margin-top: 0; }
}

/* select */
.select {
    display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    @include border-radius(2px);
    @include box-sizing();
}

/* input-text */
.input-text {
    display: block;
    height: 25px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
    @include border-radius(2px);
    @include box-sizing();
    padding: 0 5px;
}

/* checkbox */
.checkbox {
    display: inline-block;
    cursor: pointer;

    input { display: none; }

    input:checked + i {
        background: #7fbdee;
        border: 1px solid #8099af;

        &:before {
            content: "\f00c";
        }
    }

    input:disabled + i {
        @include opacity(0.5);
    }

    i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 15px;
        height: 15px;
        border: 1px solid #cccccc;
        background: #ececec;
        @include border-radius(2px);
        @include transition(all 0.2s);
        @include box-sizing();

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-family: $FontAwesome;
            color: #000000;
            font-size: 12px;
            text-align: center;
        }
    }

    span {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        margin-left: 5px;
    }
}

/* checkbox */
.radio {
    display: inline-block;
    cursor: pointer;

    input { display: none; }

    input:checked + i {
        background: #7fbdee;
        border: 1px solid #8099af;

        &:before {
            content: "";
        }
    }

    input:disabled + i {
        @include opacity(0.5);
    }

    i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 15px;
        height: 15px;
        border: 1px solid #cccccc;
        background: #ececec;
        @include border-radius(50%);
        @include transition(all 0.2s);
        @include box-sizing();

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            height: 5px;
            margin: auto;
            background: #000000;
            @include border-radius(50%);
        }
    }

    span {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        margin-left: 5px;
    }
}