.input-text {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000000;
    outline: none;
    height: 30px;
}

.input-button {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000000;
    outline: none;
    height: 30px;
}

.select {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000000;
    outline: none;
    height: 30px;
}