.filter {
    padding: 10px;
    background: #ffffff;

    h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .fieldset {
        width: 100%;
        max-width: 300px;
    }
}