.menu-header {
    background: #000000;

    ul { font-size: 0; }

    li {
        display: inline-block;

        &:hover {
            a {
                background: #ffffff;
                color: #000000;
            }
        }
    }

    a {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 10px;
        @include transition(all 0.2s);
    }
}