.search {
    font-size: 0;
    padding: 10px;
    background: tan;
    text-align: center;

    .input-text {
        max-width: 700px;
        width: 100%;
    }

    .input-text, .select, .input-button {
        border: none;
        height: 30px;
    }
}