/* compass style */
/* mixin */
/* sprite */
/*clearfix*/
/*list_ib*/
/*list_jst*/
/*reset*/
/* footer-item */
/* placeholder */
/* reset */
@import "//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext,cyrillic";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* fonts */
/* Open Sans */
/* FontAwesome */
/* core */
/* required */
.required:after {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: red;
  margin-left: 2px;
  content: "*";
}

/* fieldset */
.fieldset {
  margin-top: 10px;
}
.fieldset:first-of-type {
  margin-top: 0;
}
.fieldset .input-text, .fieldset .select {
  width: 100%;
}
.fieldset label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 12px;
}

/* input-text */
.input-text {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #000000;
  outline: none;
  height: 20px;
  padding: 0 5px;
  font-size: 12px;
  color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-text.placeholder {
  color: #999999;
}
.input-text:-moz-placeholder {
  color: #999999;
}
.input-text::-moz-placeholder {
  color: #999999;
}
.input-text::-webkit-input-placeholder {
  color: #999999;
}

/* input-button */
.input-button {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #000000;
  outline: none;
  height: 20px;
  cursor: pointer;
}

/* select */
.select {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #000000;
  outline: none;
  height: 20px;
  font-size: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* checkbox */
.checkbox {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + i:before {
  display: block;
}
.checkbox i {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox i:before {
  display: none;
  font-family: "FontAwesome", sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;
  width: 100%;
  height: 100%;
  content: "\f00c";
}
.checkbox span {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 14px;
  margin-left: 4px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  font-size: 0;
}

/* sidebar */
.main-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  /* right */
  /* left */
}
.main-content.sideRight-200 {
  margin-right: -200px;
  padding-right: 200px;
}
.main-content.sideRight-300 {
  margin-right: -300px;
  padding-right: 300px;
}
.main-content.sideRight-400 {
  margin-right: -400px;
  padding-right: 400px;
}
.main-content.sideRight-500 {
  margin-right: -500px;
  padding-right: 500px;
}
.main-content.sideRight-600 {
  margin-right: -600px;
  padding-right: 600px;
}
.main-content.sideLeft-200 {
  margin-left: -200px;
  padding-left: 200px;
}
.main-content.sideLeft-300 {
  margin-left: -300px;
  padding-left: 300px;
}
.main-content.sideLeft-400 {
  margin-left: -400px;
  padding-left: 400px;
}
.main-content.sideLeft-500 {
  margin-left: -500px;
  padding-left: 500px;
}
.main-content.sideLeft-600 {
  margin-left: -600px;
  padding-left: 600px;
}

.sidebar {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  background: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.sidebar.small-200 {
  width: 200px;
}
.sidebar.small-300 {
  width: 300px;
}

/* press footer */
html, body {
  height: 100%;
}

.window {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -200px;
  padding-bottom: 200px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* html .window {
  height: 100%;
}

.footer {
  position: relative;
  height: 200px;
}

/* message */
.error-reg {
  display: block;
  margin-top: 4px;
}
.error-reg .error {
  display: block;
  font-size: 12px;
  color: red;
  margin-top: 2px;
  text-align: left;
}
.error-reg .error:first-child {
  margin-top: 0;
}

/* layout */
.header .header-middle {
  height: 250px;
  background: rgba(0, 0, 0, 0.6);
}

.footer {
  background: #000000;
}

/* module */
.menu-header {
  background: #000000;
}
.menu-header ul {
  font-size: 0;
}
.menu-header li {
  display: inline-block;
}
.menu-header li:hover a {
  background: #ffffff;
  color: #000000;
}
.menu-header a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* header top */
.header-top {
  height: 50px;
  background: #000000;
}
.header-top .wrapper {
  font-size: 0;
  text-align: justify;
  text-justify: newspaper;
}
.header-top .wrapper:after {
  display: inline-block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 100%;
  content: '';
}
.lt-ie8 .header-top .wrapper {
  text-align-last: justify;
  zoom: 1;
}

.menu-top-header {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.menu-top-header li {
  display: inline-block;
  vertical-align: top;
}
.menu-top-header a {
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu-top-header a:hover {
  color: #000000;
  background: #ffffff;
}

.login-header {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
.login-header li {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.login-header li:hover .login-header-popup {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.login-header a {
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login-header a i {
  padding-right: 8px;
}

.login-header-popup {
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #000000;
  padding: 10px;
  width: 175px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.search {
  font-size: 0;
  padding: 10px;
  background: tan;
  text-align: center;
}
.search .input-text {
  max-width: 700px;
  width: 100%;
}
.search .input-text, .search .select, .search .input-button {
  border: none;
  height: 30px;
}

.filter {
  padding: 10px;
  background: #ffffff;
}
.filter h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.filter .fieldset {
  width: 100%;
  max-width: 300px;
}

.page-box .page-title {
  padding: 10px 15px;
  background: #f2f2f2;
}
.page-box .page-title h2 {
  font-size: 20px;
  color: #000000;
  text-transform: uppercase;
}
.page-box .page-content {
  padding: 10px 15px;
  background: #ffffff;
}

.account-reg-message {
  font-size: 12px;
}
.account-reg-message b {
  font-weight: bold;
}
