.widget {

    .widget-title {
        background: #19232d;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 10px;
    }

    .widget-content {

    }

}
