.widget-filter {
    position: relative;

    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;

    .filter-grid {
        float: left;
        display: block;
        width: 50%;

        @include box-sizing(border-box);
    }

    .disabled-filter-ajax {
        position: absolute;
        background: #ffffff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 15;

        @include box-sizing(border-box);
        @include opacity(0.7);

        &:before {
            position: absolute;
            background: url('../../images/preloader.gif') no-repeat;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 32px;
            height: 32px;
            content: "";
        }
    }

    fieldset {
        position: relative;
        z-index: 5;
        padding: 10px;
        border-bottom: 1px solid #d5d5d5;
        border-left: 1px solid #d5d5d5;

        &:last-child, &.last {
            border-bottom: 0;
        }

        h4 {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
        }

    }

    fieldset.type-from-to {

        .input-item {
            position: relative;
            margin-top: 10px;
            text-align: justify;
            font-size: 0;

            &:first-child, &.first {
                margin-top: 0;
            }
            
            &:after {
                display: inline-block;
                width: 100%;
                content: "";
            }

            label {
                font-size: 12px;
                display: inline-block;
                width: 45%;

                @include box-sizing(border-box);

                span {
                    display: block;
                    margin-bottom: 2px;
                }

                input {
                    display: block;
                    width: 100%;
                    border: 1px solid #b3b3b3;
                    padding: 5px;

                    @include box-sizing(border-box);
                }
            }
        }

    }

    fieldset.type-select {

        .select-group {
            margin-top: 10px;

            &:first-child, &.first {
                margin-top: 0;
            }

            select {
                border: 1px solid #b3b3b3;
                width: 100%;
                margin-bottom: 5px;

                &:last-child, &.last {
                    margin-bottom: 0;
                }
            }
        }

    }

    fieldset.type-checkbox {

        ul {
            font-size: 12px;

            li {
                margin-bottom: 3px;

                &:last-child, &.last {
                    margin-bottom: 0;
                }

                label {
                    display: inline-block;

                    input {
                        display: none;

                        &:checked + i:before {
                            display: block;
                        }
                    }

                    i, span {
                        display: inline-block;
                        height: 20px;
                        vertical-align: top;

                        @include box-sizing(border-box);
                    }

                    i {
                        position: relative;
                        width: 20px;
                        border: 1px solid #b3b3b3;

                        &:before {
                            display: none;
                            text-align: center;
                            font-size: 12px;
                            line-height: 20px;
                            font-family: "FontAwesome", sans-serif;
                            content: "\f00c";
                        }
                    }

                    span.name {
                        border: 1px solid transparent;
                        line-height: 20px;
                    }

                }

            }
        }

    }

}