/* side bar */
.side-bar {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #ffffff;

    &.side-w200 { width: 200px; }
    &.side-w300 { width: 300px; }
}

.content-main {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #f5f5f5;
    @include box-sizing();

    &.indentL-side-bar {
        margin-left: -200px;
        padding-left: 200px;
    }

    &.indentR-sb300 {
        margin-right: -300px;
        padding-right: 300px;
    }
}

/* container */
.container {
    padding: 40px 0;

    .wrapper {
        font-size: 0;
    }
}

/* list-product */
.list-product {

}